/* Main page with stikky-footer
-------------------------------------------------- */
html,
body {
  height: 100%;
  /* background-color: rgba(50, 50, 100, 0.0); 
  Could not get color to fill up entire screen. */
  font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  /* The html and body elements cannot have any padding or margin. */
  border-top: 6px solid #B11D1D;
}
/* Wrapper for page content to push down footer */
#wrap {
  padding-bottom: 50px;	
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -65px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Navbar
-------------------------------------------------- */
/*.navbar-nav>li, .navbar-nav {
  float: left !important;
}
.navbar-right {
  float: right!important;
}
*/
.navbar-brand {
    transform: translateY(-12%);
}
.navbar-static-top {
  margin-bottom: 10px;
}
.navbar-default {
  background-color: rgba(50, 50, 100, 0.08);
  border: 0;
 }
.navbar-default .navbar-brand {
  color: #886B6B;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #C51F1F;
}
.navbar-default .navbar-text {
  color: #886B6B;
}
.navbar-default .navbar-nav > li > a {
  color: #886B6B;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #C51F1F;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #886B6B;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #886B6B;
  background-color: #ffffff;
}
.navbar-default .navbar-toggle {
  border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #886B6B;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #886B6B;
  /* display: block!important; */
}
.navbar-default .navbar-link {
  color: #886B6B;
}
.navbar-default .navbar-link:hover {
  color: #886B6B;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #886B6B;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #886B6B;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #886B6B;
    background-color: #ffffff;
  }
}

/* Custom page CSS
-------------------------------------------------- */
.container {
  width: auto;
  max-width: 920px;
  text-align: center;
}
.container .text-muted {
  margin: 18px 0;
}
.container a {
  color: #B11D1D;
}
.container a:hover {
  color: #C51F1F;
}
.img-responsive {
 display: block;
 height: auto;
 max-width: 100%;
}
.panel-default h4 {
  text-align: left;
  line-height: 24px;
  font-size: 22px;
}
.panel-default h5 {
  text-align: left;
  line-height: 30px;
  font-size: 18px;
}
.panel-default h6 {
  font-size: 15px;
}
.panel-default h4 a, h5 a {
  color: #B11D1D;
}
.panel-default h4 a:hover, h5 a:hover {
  color: #267723;
}
.panel{
  border-style: none;
  background-color: transparent;
}
.panel-body {
  padding-top: -10px;
  text-align: left;
}
.social {
  padding-top: 12px;
  word-spacing: 25px;
  text-align: center; 
  padding-right: 50px;
}
.social h4 > a {
  color: #000000;
}
.avatar {
  /* Insert anything to change prof pic.*/
}
.blog-post{
  padding-top: 15px;
}
.blog-title{
  padding-top: 2px;
}
.related-posts h4 {
  text-align: center;
}
.page-not-found {
  padding-top: 20%;
}
.disqus {
  padding-bottom: 15px;
}

.blogpost{
  text-align: left;
  line-height: 30px;
  font-size: 18px;
}

/* Footer 
-------------------------------------------------- */

.footer {
  text-decoration: none !important;
}
.text-muted {
	color: #886B6B;
}
div.footer{
  border-bottom: 8px solid #B11D1D;
}
/* Set the fixed height of the footer here */
/*.footer {
  height: 50px;
  padding-bottom: 15px;

/* Resume
-------------------------------------------------- */
/* body,html {padding:0;margin:0;height:100%;}

html {overflow-y:auto}

.embed-container {
    height: 100%;
    max-width: 100%;
}

.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
} */

.resume {
  overflow: hidden;}

.iframe {
    width: 100%;
    border: none;
    overflow: auto;
}

/* Page Not Found
-------------------------------------------------- */

.page-not-found {
    transform: translateY(-30%);
}